.friends .friends__plus {
  padding: 20px 0px;
  margin: 20px 0px;
  border-top: 1px coral solid;
  border-bottom: 1px solid coral;
}

.friends__plus .friends__title,
.friends__list .friend__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}
