.settings__setting {
  margin-bottom: 25px;
}

.settings__icon i,
.settings__title {
  font-size: 25px;
}

.settings__title {
  margin-left: 12px;
}

.settings.settings__2 {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid coral;
}

.header__back-btn i {
  font-size: 30px;
  margin-right: 6px;
}
